{% extends "mainapp/base.html" %}

{% block title %}

About
{% endblock  %}

{% block style %}
    .card{
        background-color:yellow;
    }
{% endblock %}
{% block body %}
    <div class="container m-4 p-4">
        <div class="card-body">
            <div class="position-absolute top-50 start-50 translate-middle">

                <div class="card" style="width: 50em;">

                    <div class="card-body text-center">
                        <div class="row">
                                <div class="col">

                            <strong><i class="fa-solid fa-address-card"></i> &nbsp;&nbsp; Yash Kashti</strong>

                                </div>
                        <div class="row">

                            <div class="col">

                        <strong><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp; yashkashti@gmail.com</strong>
                            </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>


{% endblock body %}