{% extends 'mainapp/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Post Details
{% endblock %}
{% block style %}


{% endblock %}

{% block body %}

<div class="container mt-4 mb-4 ">
  <div class="card mb-3 mx-auto" style="max-width: 540px; background-color: azure; border-color: blue;">
    <div class="row g-0" style="align-items: center;">
      <div class="col-md-4">
        <img href="{{ object.author.profile.image.url }} " target="_blank"> <img
          src="{{ object.author.profile.image.url }}" class="img-thumbnail  mx-2 my-2"
          style="height: 100px; width: 100px; border-radius: 80px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2><a class="card-title text-dark" href="{% url 'user_post' object.author.username  %}"><small>Username :
              </small>{{ object.author }}</a></h2>
        </div>
      </div>
    </div>
  </div>




  <div class="card">
    <div class="container m-4">
      <p class="card-text">Posted on : {{ object.date_posted | date:"d F , Y " }}</p>
      <h2 style="color: tomato;">Title : {{ object.title }}</h2>
      <p class="text">Content Description : {{ object.content }}</p>


      {% if object.file %}

      {% if object.extension == '.jpg' or object.extension == 'jpeg' or object.extension == 'png' %}
      <a href="{{ object.file.url }}" download>
        <img src="{{ object.file.url }}" alt="img posted" class="img" style="max-width: 560px; max-height: 450px;"></a>
      <a href="{{ object.file.url }}" download class="text-dark">
        <h5>File Name: {{ object.file.name }}</h5>
      </a>


      {% elif object.extension == '.mp4' %}
      <div class="embed-responsive embed-responsive-16by9">
        <video id="video-1_html_api" class="vjs-tech" preload="auto">
          <source src="{{ object.file.url }}" type="video/mp4" class="embed-responsive">
        </video>
        <a href="{{ object.file.url }}" download class="text-dark">
          <h5>File Name: {{ object.file.name }}</h5>
        </a>
      </div>

      {% elif object.extension == '.pdf' %}
      <object data='{{ object.file.url }}' type='application/pdf' width='100%' height='100%'></object>
      <a href="{{ object.file.url }}" download class="text-dark">
        <h5>File Name : {{ object.file }}</h5>
      </a>


      {% else %}
      <a href="{{ object.file.url }}" download class="text-dark">
        <h5>File Name : {{ object.file }}</h5>
      </a>

      {% endif %}

      {% endif %}
      {% if object.author == user %}
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post_update' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post_delete' object.id %}">Delete</a>
      </div>
      {% endif %}

      {% if object.author %}
      <div class="button d-flex justify-content-start my-3">
        <a href="{{ object.file.url }}" download class="btn btn-outline-success" type="submit"><i
            class="fas fa-download"></i> Downlaod</a>
      </div>
      {% endif %}

    </div>
  </div>

</div>
{% endblock %}