{% extends 'mainapp/base.html' %}
{% block title %}
User Posts
{% endblock %}

{% block style %}
    .card{
        opacity: 0.9;
    }

    .card:hover{
          background-color: azure;
          box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
          box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
          -webkit-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in;
          margin-top: 50px;
          transform: scale(1.03);

}
{% endblock %}
{% block body %}


<h1 class="m-3 text-center">Posts by {{ view.kwargs.username }} </h1>

    {% for post in posts %}
    <div class="container mt-4 mb-4 ">
<div class="card shadow m-3 p-4" >
    <div class="row g-0" style="align-items: center;">
      <div class="col-md-2">
          <img src="{{ post.author.profile.image.url }}" class="img-thumbnail  mx-2 my-2"
          style="height: 100px; width: 100px; border-radius: 80px;" alt="image">
      </div>

      <div class="col-md-10">
            <a class="article-title" href="{% url 'post_details' post.id %}">Title : <strong> {{ post.title }}</strong></a>
            <p class="article-content">Content Description : <strong>{{ post.content }}</strong>

      </div>
    </div>
  </div>
    </div>
    {% endfor %}


<div class="container">
    <div class=" text-center">



     {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-sm btn-outline-dark mb-4" href="?page=1"><i class="fa-solid fa-angles-left"></i></a>
        <a class="btn btn-sm btn-outline-dark mb-4" href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-angle-left"></i></a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-sm btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn  btn-sm btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-sm btn-outline-dark mb-4" href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-angle-right"></i></a>
        <a class="btn btn-sm btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages }}"><i class="fa-solid fa-angles-right"></i></a>
      {% endif %}

    {% endif %}
</div>
</div>
{% endblock  %}