{% extends "mainapp/base.html" %}


{% block title %}
Logout
{% endblock %}


{% block body %}

    <div class="container mt-4 p-4 text-center">
        <div class="card shadow">
            <div class="card-body">
                    <h2>You have been logged out</h2>

                    <div class="text-center  p-3">

                        <button class="btn btn-outline-secondary">
                            <a href="{% url 'login' %}">
                            Log In
                            </a>
                        </button>

                        <button class="btn btn-outline-info m-2" >
                            <a href="{% url 'register' %}">
                                Sign Up
                            </a>
                        </button>
                    </div>
            </div>
        </div>
    </div>

{% endblock body %}
