{% extends 'mainapp/base.html' %}

{% load crispy_forms_filters %}

{% block title %}
Register
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row mt-2 ">
            <div class="col-sm-6 mx-auto">
                <div class="card shadow my-3">
                    <div class="card-body">
                        <h3 class="text-center">Sign Up </h3>
                        <hr>

                         <form method="POST">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <br>
                            <div class="d-md-flex justify-content-center">
                                <button class="btn btn-outline-primary " type="submit"><i class="fa-solid fa-arrow-right-to-bracket"></i> Register</button>
                           </div>
                    
                        </form>
                        <hr>
                        <small class="text-muted">
                            Already have  An Account? <a class="ml-2" href="{% url 'login' %}"><strong>Log In Now</strong></a>
                        </small>
                                            
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}